@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Sriracha&display=swap');

body {
    font-family: "Sriracha";
    margin: 0;
    padding: 0;
    background-color: #202020;
}

header h1 {
    color: #FFC436;
    display: flex;
    margin-inline-start: 50px;
}

.container {
    max-width: 700px;
    max-height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FFC436;
    color: #000000;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: "Sriracha";
}

button:hover {
    background-color: #dfa41b;
}

.hasil {
    width: auto;
    border: 1px solid black;
}

.hasil th {
    padding-right: 73px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

tbody {
    font-size: 14px;
    border-right: 1px solid black;
}